aniso8601==1.1.0
clang==3.5
conda==3.17.0
conda-env==2.4.2
Django==1.9.4
django-rest-api==0.1.5
djangorestframework==3.3.3
dominate==2.1.17
enum34==1.1.2
Flask==0.10.1
Flask-API==0.6.5
Flask-API-Utils==1.0.2
Flask-APIBlueprint==0.2
Flask-APIForm==1.0
Flask-Bootstrap==3.3.5.7
Flask-Bootstrap3==3.1.1.3
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
httpie==0.9.3
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pika==0.10.0
pycosat==0.6.1
Pygments==2.1.3
python-dateutil==2.5.1
pytz==2016.2
PyYAML==3.11
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.12
thrift==0.9.3
visitor==0.1.2
Werkzeug==0.11.5
