<!doctype html>
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>cci maelstrom kafka rest api</title>
</head>
{% block page_content %}


     <font color="red"  face="courier" size="3">

      <center>
          <img src="{{ url_for('static', filename = 'image/king-console64.png') }}"><br><br>
          <b><i><u>chromatic universe - king console</u></i></b><br><br>
          <i>kafka rest api ~ cci_maelstrom</i>
          <br>


    <h4>mongo resource not found</h4><br>
        <hr><br>
          {{ e }}
          <br>
          404
          <br>
          <hr>
          <br>chromatic universe 2016<br>
    </center>

         </font>
{% endblock %}
</html>
